{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
{% block sub_head %}
{% endblock %}
{% endblock %}
{% block content %}
<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark"
    style="position: fixed; width: 250px; height: 100% !important; z-index: 1;">
    <a href="{{url_for('main_routes.index')}}" style="width: 100%;"
        class="d-flex align-items-center justify-content-evenly mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="fas fa-arrow-left fa-lg"
            style="font-size: 1.5em; display:flex; justify-content: center; align-items: center;height: 100%;padding-top: 3px;"></i>
        <span class="fs-4">Espace admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{url_for('admin_routes.accueil')}}" {% if request.url_rule.endpoint=="admin_routes.accueil"
                %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-home"></i>
                <span class="ms-2">accueil</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('admin_routes.salles')}}" {% if request.url_rule.endpoint=="admin_routes.salles"
                %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-chalkboard-teacher"> </i>
                <span class="ms-2">Salles</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('admin_routes.series')}}" {% if request.url_rule.endpoint=="admin_routes.series"
                %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-vial"></i>
                <span class="ms-2">Séries</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('admin_routes.matieres')}}" {% if request.url_rule.endpoint=="admin_routes.matieres"
                %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-bookmark"></i>
                <span class="ms-2">Matières</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('admin_routes.candidats')}}" {% if request.url_rule.endpoint=="admin_routes.candidats"
                %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-users"></i>
                <span class="ms-2">Candidats</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('admin_routes.professeurs')}}" {% if
                request.url_rule.endpoint=="admin_routes.professeurs" %}class="nav-link active" aria-current="page" {%
                else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-user-tie"></i>
                <span class="ms-2">Professeurs</span>
            </a>
        </li>
        <hr>
        <li>
            <a href="{{url_for('admin_routes.creneau')}}" {% if request.url_rule.endpoint=="admin_routes.creneau"
                %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-calendar-alt"></i>
                <span class="ms-2">Créneaux</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('admin_routes.comptes')}}" {% if request.url_rule.endpoint=="admin_routes.comptes"
                %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-user-circle"></i>
                <span class="ms-2">Comptes</span>
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <strong>{{session['email']}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li>
                <a class="dropdown-item" href="{{url_for('admin_routes.deconnexion')}}">Se déconnecter</a>
            </li>
        </ul>
    </div>
</div>
<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark"
    style=" width: 250px; height: 100% !important;"></div>
{% block sub_content %}
{% endblock %}
{% endblock %}


{% block script %}
<script>
    function downloadPDFWithBrowserPrint(name, num_salle, output = false) {
        var doc = new jsPDF('l', 'pt', 'a4');
        var htmlstring = '';
        var tempVarToCheckPageHeight = 0;
        var pageHeight = 0;

        pageHeight = doc.internal.pageSize.height;
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector  
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"  
                return true
            }
        };
        margins = {
            top: 150,
            bottom: 60,
            left: 40,
            right: 40,
            width: 600
        };
        doc.setFontSize(17);
        doc.setLineWidth(4);
        doc.text(20, 20, 'Salle : ' + num_salle.toString());
        //doc.text(200, y = y + 30, "Liste d'émargement");
        doc.setFontSize(20);
        centered_text("Liste d'émargement", 60, doc);

        

        if (document.getElementById(name)) {
            doc.autoTable({
                html: '#' + name,
                startY: 70,
                theme: 'grid',
                columnStyles: {
                    7: {
                        cellWidth: 200,
                    },
                },
                styles: {
                    minCellHeight: 40
                },
                didParseCell: function (table) {
                    if (table.section === 'head') {
                        table.cell.styles.fillColor = '#4c5cff';
                    }
                }
            });
        } else {
            var elements = document.getElementsByClassName(name);
            for (var i = 0; i < elements.length; i++) {
                if (i == 0) {
                    var startY = 70;
                } else {
                    var startY = doc.lastAutoTable.finalY + 20;
                }
                doc.autoTable(
                    {
                        html: "#" + name + "_" + i.toString(),
                        startY: startY,
                        theme: 'grid',
                        columnStyles: {
                            7: {
                                cellWidth: 200,
                            },
                        },
                        styles: {
                            minCellHeight: 40
                        },
                        didParseCell: function (table) {
                            if (table.section === 'head') {
                                table.cell.styles.fillColor = '#4c5cff';
                            }
                        }
                    });
            }

            if (!output) {
                doc.save(num_salle.toString() + '_listeDEmargement.pdf');
            } else {
                return doc;
            }

        }
    }
</script>
<script>
    function downloadCalendar(calendar_id, name='Calendrier.pdf') {
        var doc = new jsPDF('l', 'pt', 'a4');
        var htmlstring = '';
        var tempVarToCheckPageHeight = 0;
        var pageHeight = 0;

        pageHeight = doc.internal.pageSize.height;
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector  
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"  
                return true
            }
        };
        margins = {
            top: 150,
            bottom: 60,
            left: 40,
            right: 40,
            width: 600
        };
        doc.setFontSize(10);
        doc.setLineWidth(4);
        //doc.text(200, y = y + 30, "Liste d'émargement");
        doc.setFontSize(20);
        centered_text("Calendrier", 60, doc);
        doc.autoTable({
            html: '#' + calendar_id,
            startY: 70,
            theme: 'grid',
            styles: {
                minCellHeight: 40,
            },
            didParseCell: function (table) {
                if (table.section === 'head') {
                    table.cell.styles.fillColor = '#4c5cff';
                    if (table.cell.text[0].includes("Série")) {
                        table.cell.text = "Série";
                    }
                }
            }
        })
        doc.save(name);
    }
</script>
<script>
    $('.deleteRow').click(function () {
        var $myRowId = $(this).get(0).id;
        name = document.getElementById("ModalSubmitButton").getAttribute("form");
        $("#ModalSubmitButton").attr('form', name + $myRowId);
    });
    $('.deleteRowToken').click(function () {
        var $myRowId = $(this).get(0).id;
        name = document.getElementById("ModalSubmitButtonToken").getAttribute("form");
        $("#ModalSubmitButtonToken").attr('form', name + $myRowId);
    });
</script>

{% block sub_script %}
{% endblock %}
{% endblock %}

{% block footer %}

<!-- Grid container -->
<div class="container p-1" style="font-size: small; ; ">
    <!--Grid row-->
    <div class="row" style="display: flex; justify-content: right" >
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <P class="text-uppercase mb-0">Adresse :</p>

          <ul class="list-unstyled mb-0 text-white">
            <li>
              <p>118 rue des Gonthières, 17 026 La Rochelle CEDEX 01</p>
            </li>
         </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <p class="text-uppercase mb-0"></p>

        <ul class="list-unstyled ">
          <li>
           <p>Telephone : <a class="text-white" href="tel:0546347932">05 46 34 79 32</a></p>
          </li>
          <li>
            <a class="text-white" href="{{url_for('main_routes.cgu')}}">conditions générales d'utilisation</a>
          </li>
          <li>
            <p>Fax : 05 46 34 22 28</p>
          </li>
         </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <p class="text-uppercase mb-0">Adresse mail :</p>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="mailto:contact@lycee-vieljeux.fr">contact@lycee-vieljeux.fr</a>
          </li>
         </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2); font-size: medium;display: flex; justify-content: right; ">
    <p>© 2021 Copyright : IUT de La Rochelle</p>
  </div>
{% endblock %}