{% extends "admin/base_admin.html" %}
{% block title %}Administration{% endblock %}
{% block sub_head %}
<!-- select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block sub_content %}
<div class="main-div-admin">
    <div class="name-finder" style="justify-content: end;">
        <button href="#" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProfModal">
            Ajouter
            <i class="fas fa-plus ml-s"></i>
        </button>
    </div>
    <div class="main-table-admin">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{category}}  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%- endfor %}
        <div class="table-responsive thumbnail">
            <table class="table table-light table-striped table-hover" id="calendar">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="th-inner">Nom</div>
                            <div class="filter-control">
                                <input type="text" class="form-control finder" onkeyup="finder(1, 0)" placeholder="">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Prénom</div>
                            <div class="filter-control">
                                <input type="text" class="form-control finder" onkeyup="finder(2, 1)" placeholder="">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Matière</div>
                            <div class="filter-control">
                                <select class="form-select finder break-doublons" onchange="finder(3, 2, false)">
                                    <option select></option>
                                    {% for matiere in all_matieres %}
                                    <option>{{matiere.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Salle</div>
                            <div class="filter-control">
                                <select class="form-select finder" onchange="finder(4, 3)">
                                    <option select></option>
                                    {% for salle in all_salles %}
                                    <option>{{salle.numero}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th scope="col" class="supprimer align-text-top">Modifier</th>
                        <th scope="col" class="supprimer align-text-top">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a_prof in all_profs %}
                    <tr class="clickable" data-bs-toggle="collapse" data-bs-target="#accordion{{a_prof.id_professeur}}">
                        <td scope="row">{{a_prof.nom}}</td>
                        <td scope="row">{{a_prof.prenom}}</td>
                        <td scope="row">
                            {% for a_matiere in all_matieres %}
                            {% for lmatiere in liste_matiere %}
                            {% if a_matiere.id_matiere == lmatiere.id_matiere and lmatiere.id_professeur ==
                            a_prof.id_professeur %}
                            {{a_matiere.nom_complet}}<br>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </td>
                        <td scope="row">
                            {% for a_salle in all_salles %}
                            {% if a_salle.id_salle == a_prof.salle %}
                            {{a_salle.numero}}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.professeurs')}}"
                                id="modifyCreneauForm{{a_prof.id_professeur}}">
                                <input type="hidden" name="id" value="{{a_prof.id_professeur}}">
                                <button type="button" id="{{a_prof.id_professeur}}" data-bs-toggle="modal"
                                    data-bs-target="#modifyModal"
                                    class="modifRow btn btn-outline-warning">Modifier</button>
                            </form>
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.professeurs')}}"
                                id="deleteProfForm{{a_prof.id_professeur}}">
                                <input type="hidden" name="id" value="{{a_prof.id_professeur}}">
                                <button type="button" id="{{a_prof.id_professeur}}" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal"
                                    class="deleteRow btn btn-outline-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    <tr style="--bs-table-hover-bg: transparent; --bs-table-accent-bg: transparent;" class="not-null">
                        <td colspan="100%"
                            style="padding: 0; background: transparent; --bs-table-accent-bg: transparent;">
                            <div class="collapse" id="accordion{{a_prof.id_professeur}}" style="margin: 15px 10px;">
                                <div class="table-responsive thumbnail">
                                    <table class="table table-light table-striped table-hover" id="calendar">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Prénom</th>
                                                <th scope="col">Heure de début préparation</th>
                                                <th scope="col">Heure de fin</th>
                                                <th scope="col" class="hide">Emargement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for creneau in all_creneaux %}
                                            {% if creneau.id_matiere == a_prof.matiere and creneau.id_salle ==
                                            a_prof.salle %}
                                            <tr class="not-null">
                                                {% for candidat in all_candidats %}
                                                {% if candidat.id_candidat == creneau.id_candidat %}
                                                <td scope="row">{{candidat.nom}}</td>
                                                <td scope="row">{{candidat.prenom}}</td>
                                                {% endif %}
                                                {% endfor %}
                                                <td scope="row">{{creneau.debut_preparation}}</td>
                                                <td scope="row">{{creneau.fin}}</td>
                                                <td scope="row" class="hide"></td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="no-border not-null"></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addProfModal" role="dialog" aria-labelledby="addProfModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un professeur</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add user form -->
                    <form method="post" action="{{url_for('admin_routes.professeurs')}}" id="addProfForm">
                        <div class="form-group">
                            <label for="accountEmail">Adresse email</label>
                            <input type="email" class="form-control" id="accountEmail" name="email"
                                aria-describedby="emailHelp" placeholder="Entrez un email" required="required">
                        </div>
                        <div class="form-group">
                            <label for="floatingPassword">Mot de passe</label>
                            <div class="d-flex">
                                <input type="password" class="form-control" id="floatingPassword" name="password"
                                    placeholder="Entrez un mot de passe" required="required">
                                <i class="bi bi-eye-slash d-flex justify-content-center align-items-center eye-form"
                                    id="togglePassword"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Nom</label>
                            <div class="d-flex">
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Entrez un nom" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surname">Prénom</label>
                            <div class="d-flex">
                                <input type="text" class="form-control" id="surname" name="surname"
                                    placeholder="Entrez un prénom" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectMatiere">Matière</label>
                            <select class="form-control chosen-select matiere-choice-multiselect1" id="selectMatiere"
                                name="matieres[]" multiple="multiple" style="width:100%;">
                                {% for a_matiere in all_matieres %}
                                <option id="matiere{{a_matiere.id_matiere}}" value="{{a_matiere.id_matiere}}">
                                    {{a_matiere.nom_complet}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectSalle">Salle</label>
                            <select class="form-control" id="selectSalle" name="salle">
                                <option selected></option>
                                {% for a_salle in all_salles %}
                                <option id="salle{{a_salle.id_salle}}" value="{{a_salle.id_salle}}">{{a_salle.numero}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" name="submit_button" type="submit" form="addProfForm">Sauvegarder
                        les changements</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes vous sûr de vouloir supprimer ce professeur ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" name="delete_button" id="ModalSubmitButton" value="" form="deleteProfForm"
                        class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal modification d'1 row professeur-->
    <div class="modal fade" id="modifyModal" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier un professeur</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: orange;">[!] Si le prof est assigné à aucune salle, il n'aura aucun créneau.</p>
                    <form method="post" action="{{url_for('admin_routes.professeurs')}}" id="modifyProfesseurForm">
                        <input id="id_professeur_modify" name="prof_id" value="" hidden>
                        <input id="id_utilisateur_modify" name="user" value="" hidden>

                        <div class="form-group">
                            <label for="name">Nom</label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                                placeholder="Entrez un nom" required>
                        </div>
                        <div class="form-group">
                            <label for="surname">Prenom</label>
                            <input type="text" class="form-control" id="surname" name="surname"
                                aria-describedby="surnameHelp" placeholder="Entrez un prénom" required>
                        </div>
                        <div class="form-group">
                            <label for="matiere" class="col-form-label">Matière</label>
                            <select class="form-select matiere-choice-multiselect2" name="matieres[]"
                                id="matiere-select-modif" multiple="multiple" style="width:100%;">
                                {% for matiere in all_matieres %}
                                <option id="matiere_{{matiere.id_matiere}}" value="{{matiere.id_matiere}}">
                                    {{matiere.nom_complet}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="salle" class="col-form-label">Salle</label>
                            <select class="form-select" name="salle" id="salle-select-modif"
                                style="min-width:min-content;">
                                <option selected></option>
                                {% for a_salle in all_salles %}
                                <option id="salle{{a_salle.id_salle}}" value="{{a_salle.id_salle}}">{{a_salle.numero}}
                                </option>
                                {% endfor %}
                            </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-warning" name="modify_button" type="submit" id="ModalSubmitModifButton"
                        form="modifyProfesseurForm">Modifier
                        le professeur</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.matiere-choice-multiselect1').select2({
            dropdownParent: $('#addProfModal'),
            width: 'resolve'
        });
        $('.matiere-choice-multiselect2').select2({
            dropdownParent: $('#modifyModal'),
            width: 'resolve'
        });

        $('.js-example-basic-multiple').select2();
    });
</script>
{% endblock %}

{% block sub_script %}
<script>
    $('.modifRow').click(function () {

        var $myRowId = $(this).get(0).id;
        name = document.getElementById("ModalSubmitModifButton").getAttribute("form");
        name = name + $myRowId;
        $("#id_professeur_modify").attr('value', $myRowId);

        form_elements = document.getElementById("modifyProfesseurForm").elements;


        myvar_matieres = '{{all_matieres|tojson}}';
        var all_matieres = JSON.parse(myvar_matieres);
        myvar_profs = '{{all_profs|tojson}}';
        var all_professeurs = JSON.parse(myvar_profs);

        var professeur;
        for (var i = 0; i < all_professeurs.length; i++) {
            if (all_professeurs[i]['id_professeur'] == $myRowId) {
                professeur = all_professeurs[i];
            }
        }

        var matiere;
        for (var i = 0; i < all_matieres.length; i++) {
            if (all_matieres[i]['id_matiere'] == professeur.matiere) {
                matiere = all_matieres[i];
            }
        }



        //Set the user
        $("#id_utilisateur_modify").attr('value', professeur.id_utilisateur);

        //Set the name surname
        form_elements[2].value = professeur['nom'];
        form_elements[3].value = professeur['prenom'];

        //Set the matiere
        if (matiere != null) {
            id_matiere = matiere['id_matiere'];
            select = form_elements[4];
            for (var i = 0; i < select.length; i++) {
                if (select.options[i].id == "matiere_" + id_matiere) {
                    select.options[i].selected = true;
                }
            }
        }
    });
</script>
{% endblock %}

{% block footer %}
<!-- Grid container -->
<div class="container p-1" style="font-size: small; ; ">
    <!--Grid row-->
    <div class="row" style="display: flex; justify-content: right">
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <P class="text-uppercase mb-0">Adresse :</p>

            <ul class="list-unstyled mb-0 text-white">
                <li>
                    <p>118 rue des Gonthières, 17 026 La Rochelle CEDEX 01</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p class="text-uppercase mb-0"></p>

            <ul class="list-unstyled ">
                <li>
                    <p>Telephone : <a class="text-white" href="tel:0546347932">05 46 34 79 32</a></p>
                </li>
                <li>
                    <p>Fax : 05 46 34 22 28</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p class="text-uppercase mb-0">Adresse mail :</p>

            <ul class="list-unstyled">
                <li>
                    <a class="text-white" href="mailto:contact@lycee-vieljeux.fr">contact@lycee-vieljeux.fr</a>
                </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-1"
    style="background-color: rgba(0, 0, 0, 0.2); font-size: medium;display: flex; justify-content: right; ">
    <p>© 2021 Copyright : IUT de La Rochelle</p>
</div>
<!-- Copyright -->
{% endblock %}