{% extends "admin/base_admin.html" %}
{% block title %}Administration{% endblock %}
{% block sub_content %}
<div class="main-div-admin">
    <div class="name-finder" style="justify-content: end;">
        <button href="#" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProfModal">
            Ajouter
            <i class="fas fa-plus ml-s"></i>
        </button>
    </div>
    <div class="main-table-admin">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{category}}  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%- endfor %}
        <div class="table-responsive thumbnail">
            <table class="table table-light table-striped table-hover" id="calendar">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="th-inner">Nom</div>
                            <div class="filter-control">
                                <input type="text" class="form-control finder" onkeyup="finder()"
                                    placeholder="">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Prénom</div>
                            <div class="filter-control">
                                <input type="text" class="form-control finder" onkeyup="finder()"
                                    placeholder="">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Matière</div>
                            <div class="filter-control">
                                    <select class="form-select finder break-doublons" onchange="finder()">
                                        <option select></option>
                                        {% for matiere in all_matieres %}
                                        <option>{{matiere.nom}}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Salle</div>
                            <div class="filter-control">
                                    <select class="form-select finder" onchange="finder()">
                                        <option select></option>
                                        {% for salle in all_salles %}
                                        <option>{{salle.numero}}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </th>
                        <th scope="col" class="supprimer align-text-top">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a_prof in all_profs %}
                    <tr class="clickable" data-bs-toggle="collapse" data-bs-target="#accordion{{a_prof.id_professeur}}">
                        <td scope="row">{{a_prof.nom}}</td>
                        <td scope="row">{{a_prof.prenom}}</td>
                        <td scope="row">
                            {% for a_matiere in all_matieres %}
                            {% if a_matiere.id_matiere == a_prof.matiere %}
                            {{a_matiere.nom_complet}}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td scope="row">
                            {% for a_salle in all_salles %}
                            {% if a_salle.id_salle == a_prof.salle %}
                            {{a_salle.numero}}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.professeurs')}}"
                                id="modifyCreneauForm{{a_prof.id_professeur}}">
                                <input type="hidden" name="id" value="{{a_prof.id_professeur}}">
                                <button type="button" id="{{a_prof.id_professeur}}" data-bs-toggle="modal"
                                    data-bs-target="#modifyModal"
                                    class="modifRow btn btn-outline-warning">Modifier</button>
                            </form>
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.professeurs')}}"
                                id="deleteProfForm{{a_prof.id_professeur}}">
                                <input type="hidden" name="id" value="{{a_prof.id_professeur}}">
                                <button type="button" id="{{a_prof.id_professeur}}" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal"
                                    class="deleteRow btn btn-outline-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    <tr style="--bs-table-hover-bg: transparent; --bs-table-accent-bg: transparent;" class="not-null">
                        <td colspan="100%" style="padding: 0; background: transparent; --bs-table-accent-bg: transparent;">
                            <div class="collapse" id="accordion{{a_prof.id_professeur}}" style="margin: 15px 10px;">
                                <div class="table-responsive thumbnail">
                                    <table class="table table-light table-striped table-hover" id="calendar">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Prénom</th>
                                                <th scope="col">Heure de début préparation</th>
                                                <th scope="col">Heure de fin</th>
                                                <th scope="col">Emargement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for creneau in all_creneaux %}
                                            {% if creneau.id_matiere == a_prof.matiere and creneau.id_salle == a_prof.salle %}
                                            <tr class="not-null">
                                                {% for candidat in all_candidats %}
                                                {% if candidat.id_candidat == creneau.id_candidat %}
                                                <td scope="row">{{candidat.nom}}</td>
                                                <td scope="row">{{candidat.prenom}}</td>
                                                {% endif %}
                                                {% endfor %}
                                                <td scope="row">{{creneau.debut_preparation}}</td>
                                                <td scope="row">{{creneau.fin}}</td>
                                                <td scope="row"></td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="no-border not-null"></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addProfModal" tabindex="-1" role="dialog" aria-labelledby="addProfModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un professeur</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add user form -->
                    <form method="post" action="{{url_for('admin_routes.professeurs')}}" id="addProfForm">
                        <div class="form-group">
                            <label for="accountEmail">Adresse email</label>
                            <input type="email" class="form-control" id="accountEmail" name="email"
                                aria-describedby="emailHelp" placeholder="Entrez un email" required="required">
                        </div>
                        <div class="form-group">
                            <label for="floatingPassword">Mot de passe</label>
                            <div class="d-flex">
                                <input type="password" class="form-control" id="floatingPassword" name="password"
                                    placeholder="Entrez un mot de passe" required="required">
                                <i class="bi bi-eye-slash d-flex justify-content-center align-items-center eye-form"
                                    id="togglePassword"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Nom</label>
                            <div class="d-flex">
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Entrez un nom" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surname">Prénom</label>
                            <div class="d-flex">
                                <input type="text" class="form-control" id="surname" name="surname"
                                    placeholder="Entrez un prénom" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectMatiere">Matière</label>
                            <select class="form-control" id="selectMatiere" name="matiere">
                                {% for a_matiere in all_matieres %}
                                <option id="matiere{{a_matiere.id_matiere}}" value="{{a_matiere.id_matiere}}">
                                    {{a_matiere.nom_complet}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectSalle">Salle</label>
                            <select class="form-control" id="selectSalle" name="salle">
                                {% for a_salle in all_salles %}
                                <option id="salle{{a_salle.id_salle}}" value="{{a_salle.id_salle}}">{{a_salle.numero}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" name="submit_button" type="submit" form="addProfForm">Sauvegarder
                        les changements</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes vous sûr de vouloir supprimer ce professeur ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" name="delete_button" id="ModalSubmitButton" value="" form="deleteProfForm"
                        class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal modification d'1 row professeur-->
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier un professeur</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: orange;">[!] Si le prof est assigné à aucune salle, il n'aura aucun créneau.</p>
                    <form method="post" action="{{url_for('admin_routes.professeurs')}}" id="modifyProfesseurForm">
                        <input id="id_professeur_modify" name="last_professeurs_id" value="" hidden>

                        <div class="form-group">
                            <label for="nom" class="col-form-label">Nom</label>
                            <select class="form-select disabled" name="nom" id="nom-select-modif" required
                                onchange="">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="prénom" class="col-form-label">Prénom</label>
                            <select class="form-select disabled" name="prénom" id="prénom-select-modif" required
                                onchange="">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="matiere" class="col-form-label">Matière</label>
                            <select class="form-select" name="matiere" id="matiere-select-modif" required><!--for salle in all salle, salle.numero-->
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="salle" class="col-form-label">Salle</label>
                            <select class="form-select" name="salle" id="salle-select-modif" required>
                                <option selected></option>
                                <!-- {% for salle in all_candidats %} -->
                            </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-warning" name="modify_button" type="submit" form="modifyCreneauForm">Modifier
                        le créneau</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}