{% extends "admin/base_admin.html" %}
{% block title %}Administration{% endblock %}
{% block sub_content %}
<div class="main-div-admin">
    <div class="name-finder" style="justify-content: end;">
        <button href="#" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addSerieModal">
            Ajouter
            <i class="fas fa-plus ml-s"></i>
        </button>
    </div>
    <div class="main-table-admin">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{category}}  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%- endfor %}
        <div class="table-responsive thumbnail">
            <table class="table table-light table-striped table-hover" id="calendar">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="th-inner">Série</div>
                            <div class="filter-control">
                                <select class="form-select finder break-doublons" onchange="finder(1, 0)">
                                    <option select></option>
                                    {% for an_serie in all_series %}
                                    <option>{{an_serie.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th scope="col" class="align-text-top">Spécialité 1</th>
                        <th scope="col" class="align-text-top">Spécialité 2</th>
                        <th scope="col" class="supprimer align-text-top">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for an_serie in all_series %}
                    <tr class="clickable" data-bs-toggle="collapse" data-bs-target="#accordion{{an_serie.id_serie}}">
                        <td scope="row">{{an_serie.nom}}</td>
                        <td scope="row">{% if an_serie.specialite1: %}{{an_serie.specialite1}}{% endif %}
                        </td>
                        <td scope="row">{% if an_serie.specialite2: %}{{an_serie.specialite2}}{% endif %}
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.series')}}"
                                id="deleteSerieForm{{an_serie.id_serie}}">
                                <input type="hidden" name="id" value="{{an_serie.id_serie}}">
                                <button type="button" id="{{an_serie.id_serie}}" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal"
                                    class="deleteRow btn btn-outline-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    <tr style="--bs-table-hover-bg: transparent; --bs-table-accent-bg: transparent;" class="not-null">
                        <td colspan="100%"
                            style="padding: 0; background: transparent; --bs-table-accent-bg: transparent;">
                            <div class="collapse" id="accordion{{an_serie.id_serie}}" style="margin: 15px 10px;">
                                <div class="table-responsive thumbnail">
                                    <table class="table table-light table-striped table-hover"
                                        id="tableAccordionProf{{an_serie.id_serie}}">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <div class="th-inner">Nom</div>
                                                </th>
                                                <th scope="col">
                                                    <div class="th-inner">Prénom</div>
                                                </th>
                                                <th scope="col">
                                                    <div class="th-inner">Matière1</div>
                                                </th>
                                                <th scope="col">
                                                    <div class="th-inner">Matière2</div>
                                                </th>
                                                <th scope="col">
                                                    <div class="th-inner">Tiers temps</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for a_candidat in all_candidats %}
                                            {% if a_candidat.id_serie == an_serie.id_serie %}
                                            <tr class="not-null">
                                                <td scope="row">{{a_candidat.nom}}</td>
                                                <td scope="row">{{a_candidat.prenom}}</td>
                                                {% for a_choix_matiere in all_choix_matieres %}
                                                {% if a_choix_matiere.id_candidat == a_candidat.id_candidat %}
                                                {% for a_matiere in all_matieres %}
                                                {% if a_matiere.id_matiere == a_choix_matiere.matiere1 %}
                                                <td scope="row">
                                                    {{a_matiere.nom}}
                                                </td>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                                {% endfor %}
                                                {% for a_choix_matiere in all_choix_matieres %}
                                                {% if a_choix_matiere.id_candidat == a_candidat.id_candidat %}
                                                {% for a_matiere in all_matieres %}
                                                {% if a_matiere.id_matiere == a_choix_matiere.matiere2 %}
                                                <td scope="row">
                                                    {{a_matiere.nom}}
                                                </td>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                                {% endfor %}
                                                <td scope="row">
                                                    {% if a_candidat.tiers_temps %}Oui{% else %}Non{% endif %}
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="no-border not-null"></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addSerieModal" tabindex="-1" role="dialog" aria-labelledby="addSerieModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter une série</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add user form -->
                    <form method="post" action="{{url_for('admin_routes.series')}}" id="addSerieForm">
                        <div class="form-group">
                            <label for="selectTypeUser">Nom de la fillière</label>
                            <select class="form-control" id="selectTypeUser" name="serie" onchange="testSpeciality()">
                                <option>Générale</option>
                                <option>Technologique</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="specialite1">Première spécialité</label>
                            <input type="text" class="form-control" id="specialite1" name="specialite1"
                                placeholder="Entrez une spécialité" required="required">
                        </div>
                        <div class="form-group">
                            <label for="specialite2">Seconde spécialité</label>
                            <input type="text" class="form-control" id="specialite2" name="specialite2"
                                placeholder="Entrez une spécialité" required="required">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" name="submit_button" type="submit" form="addSerieForm">Sauvegarder
                        les changements</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes vous sûr de vouloir supprimer cette série ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" name="delete_button" id="ModalSubmitButton" value="" form="deleteSerieForm"
                        class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sub_script %}
<script>
    function testSpeciality() {
        d = document.getElementById("selectTypeUser").value;
        second = document.getElementById("specialite2");
        if (d === "Technologique") {
            second.setAttribute('disabled', 'true');
        } else {
            second.removeAttribute('disabled');
        }
    }
</script>
{% endblock %}
