{% extends "admin/base_admin.html" %}
{% block title %}Administration{% endblock %}
{% block sub_content %}
<div class="main-div-admin">
    <div class="name-finder">
        <input type="text" id="search-name" class="form-control" onkeyup="nameFinder()"
            placeholder="Recherhe par série">
        <button href="#" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addSerieModal">
            Ajouter
            <i class="fas fa-plus ml-s"></i>
        </button>
    </div>
    <div class="main-table-admin">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{category}}  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%- endfor %}
        <div class="table-responsive thumbnail">
            <table class="table table-light table-striped table-hover" id="calendar">
                <thead>
                    <tr>
                        <th scope="col">Série</th>
                        <th scope="col">Spécialité 1</th>
                        <th scope="col">Spécialité 2</th>
                        <th scope="col" class="supprimer">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for an_serie in all_series %}
                    <tr>
                        <td scope="row">{{an_serie.nom}}</td>
                        <td scope="row">{% if an_serie.specialite1: %}{{an_serie.specialite1}}{% endif %}
                        </td>
                        <td scope="row">{% if an_serie.specialite2: %}{{an_serie.specialite2}}{% endif %}
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.series')}}"
                                id="deleteSerieForm{{an_serie.id_serie}}">
                                <input type="hidden" name="id" value="{{an_serie.id_serie}}">
                                <button type="button" id="{{an_serie.id_serie}}" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal"
                                    class="deleteRow btn btn-outline-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addSerieModal" tabindex="-1" role="dialog" aria-labelledby="addSerieModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter une série</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add user form -->
                    <form method="post" action="{{url_for('admin_routes.series')}}" id="addSerieForm">
                        <div class="form-group">
                            <label for="selectTypeUser">Nom de la fillière</label>
                            <select class="form-control" id="selectTypeUser" name="serie" onchange="testSpeciality()">
                                <option>Générale</option>
                                <option>Technologique</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="specialite1">Première spécialité</label>
                            <input type="text" class="form-control" id="specialite1" name="specialite1"
                                placeholder="Entrez une spécialité" required="required">
                        </div>
                        <div class="form-group">
                            <label for="specialite2">Seconde spécialité</label>
                            <input type="text" class="form-control" id="specialite2" name="specialite2"
                                placeholder="Entrez une spécialité" required="required">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" name="submit_button" type="submit" form="addSerieForm">Sauvegarder
                        les changements</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes vous sûr de vouloir supprimer cette série ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" name="delete_button" id="ModalSubmitButton" value="" form="deleteSerieForm"
                        class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sub_script %}
<script>
function testSpeciality() {
    d = document.getElementById("selectTypeUser").value;
    if(d === "Technologique"){
        second = document.getElementById("specialite2")
        second.setAttribute('disabled','true');
    }
}
</script>
{% endblock %}