{% extends "base.html" %}
{% block title %} Se connecter {% endblock %}
{% block content %}
<main class="form-login mt-5">
    <form method="post" action="{{url_for('login')}}">
      <img class="mb-5 img-fluid" src="{{url_for('static', filename='img/logo.png')}}" alt="logo" width="150" height="auto">
  
      <div class="form-floating form-login-input-lg">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@exemple.com" name="email" required="required">
        <label for="floatingInput">Adresse email</label>
      </div>
      <div class="form-floating form-login-input-lg">
        <input type="password" class="form-control" id="floatingPassword" placeholder="MotDePasse" name="password" required="required">
        <label for="floatingPassword">Mot de passe</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
    </form>
    {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-{{category}}">
            {{ message }}
         </div>
    {%- endfor %}
  </main>
  
{% endblock %}