{% extends "professeur/base_professeur.html" %}
{% block title %}Administration{% endblock %}
{% block sub_content %}
<div class="main-div-admin">
    <div class="name-finder align-items-end">
        <button href="#" type="button" class="btn btn-info" onclick="downloadPDF()">
            Télécharger
            <i class="fas fa-print ml-s"></i>
        </button>
    </div>
    <div class="main-table-admin">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{category}}  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%- endfor %}
        <div class="table-responsive thumbnail">
            <table class="table table-light table-striped table-hover" id="tableAccordion1">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Heure de début préparation</th>
                        <th scope="col">Heure de fin</th>
                        <th scope="col">Emargement</th>
                    </tr>
                </thead>
                <tbody>
                    {% for creneau in all_creneaux %}
                    {% if creneau.id_matiere in id_matieres and creneau.id_salle in id_salle %}
                    <tr>
                        {% for candidat in all_candidats %}
                        {% if candidat.id_candidat == creneau.id_candidat %}
                        <td scope="row">{{candidat.nom}}</td>
                        <td scope="row">{{candidat.prenom}}</td>
                        {% endif %}
                        {% endfor %}
                        <td scope="row">{{creneau.debut_preparation}}</td>
                        <td scope="row">{{creneau.fin}}</td>
                        <td scope="row"></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block sub_script %}
<script>
function downloadPDF()
{
    var id_salle='{{id_salle[0]}}';
    var all_salles = JSON.parse('{{all_salles|tojson}}');
    var all_professeurs = JSON.parse('{{all_professeurs|tojson}}');
    for (let i = 0; i < all_salles.length; i++) 
    {
        if(all_salles[i].id_salle==parseInt(id_salle, 10))
        {
            var name_salle=all_salles[i].numero;
        }
    }
    var doc = downloadPDFWithBrowserPrint('tableAccordion1', name_salle);
}
</script>
{% endblock %}