{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
{% endblock %}
{% block content %}
<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 250px; z-index: 1;">
  <a href="{{url_for('professeur_routes.accueil')}}"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"></svg>
    <span class="fs-4">Espace professeur</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{{url_for('professeur_routes.accueil')}}" {% if request.url_rule.endpoint=="professeur_routes.accueil"
        %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
        <i class="fas fa-home"></i>
        <span class="ms-2">accueil</span>
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <strong>{{session['email']}}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li>
        <a class="dropdown-item" href="{{url_for('professeur_routes.deconnexion')}}">Se déconnecter</a>
      </li>
    </ul>
  </div>
</div>
{% block sub_content %}
{% endblock %}
{% endblock %}


{% block script %}
{% block sub_script %}
{% endblock %}
{% endblock %}

{% block footer %}
<!-- Grid container -->
<div class="container p-1" style="font-size: small; ; ">
  <!--Grid row-->
  <div class="row" style="display: flex; justify-content: center">
    <!--Grid column-->

    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <P class="text-uppercase mb-0">Adresse :</p>

      <ul class="list-unstyled mb-0 text-white">
        <li>
          <p>118 rue des Gonthières, 17 026 La Rochelle CEDEX 01</p>
        </li>
      </ul>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <p class="text-uppercase mb-0"></p>

      <ul class="list-unstyled ">
        <li>
          <p>Telephone : <a class="text-white" href="tel:0546347932">05 46 34 79 32</a></p>
        </li>
        <li>
          <p>Fax : 05 46 34 22 28</p>
        </li>
      </ul>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <p class="text-uppercase mb-0">Adresse mail :</p>

      <ul class="list-unstyled">
        <li>
          <a class="text-white" href="mailto:contact@lycee-vieljeux.fr">contact@lycee-vieljeux.fr</a>
        </li>
      </ul>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-1"
  style="background-color: rgba(0, 0, 0, 0.2); font-size: medium;display: flex; justify-content: center; ">
  <p>© 2021 Copyright : IUT de La Rochelle</p>
</div>
<!-- Copyright -->
{% endblock %}