{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
{% endblock %}
{% block content %}
<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 250px; z-index: 1;">
    <a href="{{url_for('professeur_routes.accueil')}}"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4">Espace professeur</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{url_for('professeur_routes.accueil')}}" {% if request.url_rule.endpoint=="professeur_routes.accueil"
                %}class="nav-link active" aria-current="page" {% else %}class="nav-link text-white" {% endif %}>
                <i class="fas fa-home"></i>
                <span class="ms-2">accueil</span>
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <strong>{{session['email']}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li>
                <a class="dropdown-item" href="{{url_for('professeur_routes.deconnexion')}}">Se déconnecter</a>
            </li>
        </ul>
    </div>
</div>
{% block sub_content %}
{% endblock %}
{% endblock %}


{% block script %}
<script>
    $('.deleteRow').click(function () {
        var $myRowId = $(this).get(0).id;
        name = document.getElementById("ModalSubmitButton").getAttribute("form");
        $("#ModalSubmitButton").attr('form', name + $myRowId);
    });
</script>
<script>
    function downloadPDFWithBrowserPrint(name, num_salle) {
        var doc = new jsPDF('l', 'pt', 'a4');
        var htmlstring = '';
        var tempVarToCheckPageHeight = 0;
        var pageHeight = 0;

        pageHeight = doc.internal.pageSize.height;
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector  
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"  
                return true
            }
        };
        margins = {
            top: 150,
            bottom: 60,
            left: 40,
            right: 40,
            width: 600
        };
        doc.setFontSize(10);
        doc.setLineWidth(4);
        doc.text(20, 20, 'Salle : ' + num_salle.toString());
        //doc.text(200, y = y + 30, "Liste d'émargement");
        doc.setFontSize(20);
        centered_text("Liste d'émargement", 60, doc);
        doc.autoTable({
            html: '#' + name,
            startY: 70,
            theme: 'grid',
            columnStyles: {
                0: {
                    cellWidth: 140,
                },
                1: {
                    cellWidth: 140,
                },
                2: {
                    cellWidth: 140,
                },
                3: {
                    cellWidth: 140,
                },
            },
            styles: {
                minCellHeight: 40
            },
            didParseCell: function (table) {
                if (table.section === 'head') {
                    table.cell.styles.fillColor = '#4c5cff';
                }
            }
        })
        doc.save(num_salle.toString() + '_listeDEmargement.pdf');
    }
</script>
{% block sub_script %}
{% endblock %}
{% endblock %}