<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'enregistrer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/logo_square.ico')}}" />

</head>

<body>
    <main id="main" style="height: 100%;">
        <div style="display: flex; align-items:center; justify-content:center; height:100%;">
            <div style="width: 35%; background-color:white">
                here
            </div>
        </div>
    </main>
</body>

</html>